#sidebar{
	@include background-bg($white);
	@include border-top(solid);
	@include border-right(solid);
	@include border-bottom(solid);
	@include border-left(solid);
}

.filter-wrapper{
	@include nopadding();
	@include border-top(solid, $white3, 1px);
}

.f-heading{
	@include text-color($greyish-brown);
    @include margin-top(13px);
    @include margin-right(0);
    @include margin-bottom(10px);
    @include margin-left(0);
    @include padding-top(0);
    @include padding-right(15px);
    @include padding-bottom(0);
    @include padding-left(15px);
	text-transform: uppercase;
	font-size: 14px;
    letter-spacing: 1.2px;
    height: 18px;
}

.sub-menu-parent{
	padding: 0;
	background: 0 0;
}

.menu-search{
    padding-top: 0px;
    padding-right: 15px;
    padding-bottom: 9px;
    padding-left: 15px;

    .search-category{
		width: 100%;
	    border-radius: 2px;
	    background-color: #fff;
	    box-shadow: 0 1px 0 0 rgba(239,239,239,.5);
	    border: 1px solid #e0e0e0;
	    padding: 5px;
	    height: 35px;
	    margin: 5px 0 8px;
	}

	input{
		font-family: Lato;
	    font-size: 12px;
	    font-weight: 400;
	    line-height: 1.75;
	    color: $grey4;
	}
}

#categorylist, #color, #discount, #price {
    float: left;
    width: 100%;
}

@import 'category_page_filters_ul.scss';