.bg-beige{
	background: $beige;
}

.bg-black{
	background: $black;
}

.bg-blue{
	background: $blue;
}

.bg-brown{
	background: $brown;
}

.bg-gold{
	background: $gold;
}

.bg-green{
	background: $green;
}

.bg-grey{
	background: $grey;
}

.bg-maroon{
	background: $maroon;
}


.bg-multicolor{
	background: $multicolor;
}

.bg-orange{
	background: $orange;
}

.bg-pastel{
	background: $pastel;
}

.bg-pink{
	background: $pink;
}