.footer-container {
	@include background-bg($footer_background_default);
	@include font-face;
	@include border-top(solid, $cv_primary, 2px);
	padding-bottom: 50px;
}

.footer-container ul{

	list-style-type: none;
	padding: 0px;
	margin: 0px;
	font-weight: 400;

	li {
		font-size: 14px;
		line-height: 1.4;
		letter-spacing: 0.2px;
		color: $footer_text_default;
		a {
			@include text-decoration(none);
			color: $footer_link_default;
			cursor: pointer;
			line-height: 1.7;
			letter-spacing: .2px;

			&:hover{
				color: $footer_link_hover;
			}
		}
	}

	li:nth-child(1) {
		font-size: 16px;
		line-height: 1.4;
		letter-spacing: 0.9px;
		color: $footer_text_primary;
		margin-top: 20px;
		margin-bottom: 10px;
		border: 0px solid red;
		text-transform: uppercase;
	}
}
