.craftsvilla-navbar {
	@include background-bg;

.logo-container {
	@include height-auto($h:auto !important);
	padding: 13px 0px !important;
	float: left;
	@include line-height(20px);
}
// Search bar
@import '../modules/_searchbar.scss';

.currency-container, .authentication-container {
	@include nopadding(14px 0px);
}
.currency-container {
	.dropdown {
		span {
			@include text-color($rouge);
			font-size: 16px;
		}
	}
	.dropdown-toggle {
		@include background-bg(transparent);
		border: none;
	}
	.btn:active, .btn-default:active:focus, .open > .btn-default.dropdown-toggle:focus {
		box-shadow: none;
		@include background-bg(transparent);
		border: none;
		outline: none;
	}
	.dropdown-menu {
		min-width: auto;
		left: auto;
		right: 22px;
		border-radius: 0px;
	}

}
.authentication-container {
	ul {
		list-style: none;
		@include nomargin;
		@include nopadding;
		float: right;
		li {
			@include display(inline-block);
				float: left;
				margin-left: 25px;
				@media screen and (max-width: $sm) {
					margin-left: 15px;
				}
			a {
				@include text-color($rouge);
				font-size: 16px;
				float: left;
				padding: 4.5px 0px;
				.icon {
					@include width-percent(22px);
					@include height-auto(22px);
					float: left;
				}
				span {
					margin-left: 5px;
					@include position;
					circle {
						padding: 3px;
						border-radius: 50%;
						@include width-percent(20px);
						@include height-auto(20px);
						float: right;
						@include line-height(13px);
						text-align: center;
						background-color: $rouge;
						color: #fff;
						font-size: 12px;
						margin-left: 5px;
					}
				}
			}
			[data-cart] {
				border: solid 1px #e4d2be;
				padding-left: 4.5px;
				padding-right: 4.5px;
				border-radius: 3px;
			}
			a:hover {
				@include text-decoration;
			}
		}
	}
}

}
