.craftsvilla-international {
	@include background-bg($header_background_default);
	color: $header_text_default;
	@include height-auto($h:24px);
	@include font-weight;
	@include line-height($lheight:23px);

	a {
		color:$header_link_default;

		&:hover{
			color:$header_link_hover;
			@include text-decoration(none);
		}
	}
}

.icon-call, .icon-download {
	@include width-percent($w: 12px);
	@include height-auto($h: 12px);
	@include border-top;
	@include border-right;
	@include border-bottom;
	@include border-left;
	@include display($dis: inline-flex);
	@include display($dis: -webkit-inline-flex);
}
