.craftsvilla-international {
	@include background-bg($header_background_default);
	color: $header_text_default;
	@include height-auto($h:24px);
	@include font-weight;
	@include line-height($lheight:23px);

	a {
		color:$header_link_default;
		position: relative;
		&:hover{
			color:$header_link_hover;
			@include text-decoration(none);
		}
	}
}
.icon-call {
	margin-top: 5px;
	margin-right: 3px;
}
.icon-download {
	position: absolute;
	left: -15px;
	top: 1px;
}
.icon-call, .icon-download {
	@include width-percent($w: 16px);
	@include height-auto($h: 17px);
	@include display($dis: inline-flex);
	@include display($dis: -webkit-inline-flex);
	border: none;
}
