.filter-action-container{
  @include nopadding;
  margin-bottom: 15px;
  > ul {
    padding: 0px;
    list-style: none;
    float: left;
    margin: 0px;
    @include width-percent;
    > li {
      float: left;
      background: $breadcrom-filter-bg;
      margin-right: 5px;
      border: solid 1px $breadcrom-filter-border;
      padding: 2px 5px;
      font-size: $font-size-sm;
      cursor: pointer;
      > span.action-delete {
        @include width-percent(13px);
        @include height-auto(13px);
        margin: 2px 0px 0px 5px;
      }
    }
    .clear-all {
      background-color: inherit;
      border: none;
      color: $breadcrom-filter-text-color-secoundary;
    }
  }
}
