.feed-container {
  margin-left: -7.5px;
  margin-right: -7.5px;
  .feed-box {
    margin: 7.5px 0px;
    padding: 0px 7.5px;
    > .feed {
      background: $grey2;
      padding: 0px;
      > a {
        @include display;
        > img {
          @include width-percent;
        }
      }
    }
  }
}
