#myModal .modal-dialog{
    @media screen and (max-width: $sm){
        @include width-percent;
        @include height-auto(100%);
        margin:0px;
    }
     .modal-content {
            position: relative;
            background-color: $white;
            -webkit-background-clip: padding-box;
            background-clip: padding-box;
            border: 1px solid $dark-grey2;
            border: 1px solid rgba(0,0,0,.2);
            border-radius: 6px;
            outline: 0;
            -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
            box-shadow: 0 3px 9px rgba(0,0,0,.5);
            @media screen and (max-width: $sm){
                @include width-percent;
                @include height-auto(100%);
                margin:0px;
            }

            .modal-header {
                min-height: 16.43px;
                padding: 15px;
                border-bottom:none;

                .policies-close {
                    cursor:pointer;
                    float: right;
                   @include width-percent(25px);
                }
            }
    }


    .modal-body {
        padding: 0 15px 15px;

         @media screen and (max-width: $sm){
            @include width-percent;
            @include height-auto(100%);
            margin:0px;
        }

        .policies-nav, .policies-tab-conent {
            font-size:$font-size;
            color: $very-dark-grey2;
            font-family: Open Sans;
        }
        .policies-nav{
            margin-left: 8%;
            @include font-weight(700);
            border: 2px solid $very-light-grey2;
            border-radius: 10px;
            text-align: center;
            margin-right: 0;
            overflow: hidden;
            margin-bottom: 15px;
            @media screen and (max-width: $sm){
                margin-left:0%;
            }
            >li{
                @media screen and (max-width: $sm){
                     @include width-percent(30%);
                    }
            }

            >li a{
                position: relative;
                display: block;
                padding: 10px 15px;
                color:$very-dark-grey;
                margin-right: 2px;
                line-height: 1.42857;
                border: 1px solid transparent;
                border-radius: 4px 4px 0 0;
                font-size:$font-size;
                 @media screen and (max-width: $sm){
                    padding:0;
                    height: 50px;
                    font-size:$font-size-sm;
                 }
             }

            .active, >li.active>a {
            cursor: default;
            background-color: rgba(238,238,238,0);
            border-bottom: 2px solid $rouge!important;
            color: #981937!important;
            }

            li:last-child {
                @media screen and (max-width: $sm){
                 @include width-percent(40%);
                }
            }
        }
    }
}


