// Media Dimention
$xs: 320px;
$sm: 760px;
$md: 1023px;
$mdm: 1120px;
$lg: 1280px;

// BG Color
$white: #ffffff !default;
$beige: #f5f3e8 !default;
$beige-two: #eee4d1 !default;
$white2: #fbfbfb;
$white3: #f9f9f9;
$grey2: #dedede;
$grey3: #ededed;
$grey4: #949494;

//== Colors
//
//## Gray and brand colors for use across Bootstrap.
$brownish-grey: #626262 !default;
$greyish-brown: #4c4c4c !default;
$rouge: #981937 !default;
$grey: #888888 !default;

// color use in carousel

$vivid-orange: #f39c12 !default;
$dark-grey:  #565656 !default;
$very-dark-grey: #666666 !default;
$very-light-grey: #e0e0e0 !default;

//color use in  modal
$dark-grey2: #999999 !default;
$very-dark-grey2: #4a4a4a !default;
$very-light-grey2: #e7e7e7 !default;





//== Font size
//
//##
$font-size-md: 16px !default;
$font-size: 14px !default;
$font-size-sm: 12px !default;
$font-size-ex: 10px !default;

//== Font
//
//##
$font-family-lato:  'Lato', sans-serif !default;
$font-family-roboto:  "Roboto", Helvetica, Arial, sans-serif !default;

//== Header
//
//##


//== MegaMenu
//
//##


