// BG Color
$beige: #f5f3e8;
$beige-two: #eee4d1;

//== Colors
//
//## Gray and brand colors for use across Bootstrap.
$brownish-grey: #626262;
$greyish-brown: #4c4c4c;
$rouge: #981937;

//== Font size
//
//##
$font-size: 14px;

//== Font
//
//##
$font-family-lato:  "Lato", Helvetica, Arial, sans-serif !default;
$font-family-roboto:  "Roboto", Helvetica, Arial, sans-serif !default;

//== Header
//
//##


//== MegaMenu
//
//##
