//wishlist
.cv-wishlist {
	background-position: -49px -10px;
}
//CV CART
.cv-cart {
	background-position: -113px -12px;
}
//CV LOGIN
.cv-login {
	background-position: -137px -12px;
}
//wishlist
.cv-search {
	background-position: -49px -10px;
}
