//wishlist
.cv-wishlist {
	background-position: -49px -10px;
}
//CV CART
.cv-cart {
	background-position: -113px -12px;
}
//CV LOGIN
.cv-login {
	background-position: -137px -12px;
}
//wishlist
.cv-search {
	background-position: -49px -10px;
}
// buyer protection
.cv-buyer{
	background-position: -161px -44px;
}


//========================================
SOCIAL ICONS ROUND LOGO
//========================================

icon-fb-round{
	background-position: -162px -7px;
}

.icon-tw-round{
	background-position: -197px -7px;
}

.icon-gp-round{
	background-position: -232px -7px;
}

.icon-pin-round{
	background-position: -267px -7px;
}

//========================================
SOCIAL ICONS LOGO GREY
//========================================

.icon-fb-logo-grey{
	background-position: -20px -89px;
}

.icon-tw-logo-grey{
	background-position: -56px -92px;
}

.icon-pin-logo-grey{
	background-position: -94px -88px;
}	

//========================================
SOCIAL ICONS LOGO COLOR
//========================================

.icon-fb-logo-color{
	background-position: -135px -89px;
}

.icon-tw-logo-color{
	background-position: -171px -92px;
}

.icon-pin-logo-color{
	background-position: -209px -88px;
}

//========================================
SOCIAL ICONS LOGO COLOR
//========================================
